.layout {
  background-image: linear-gradient(
    to right,
    #fff 50%,
    #fff 0%,
    #fbfbfb 50%,
    #fbfbfb 100%
  );
}

.navbar {
  display: grid;
  width: 100%;
  height: 80px;
  padding: 1rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 45px;
}
.logo-container > h1 {
  padding: 0 0.75rem;
}

.navigation-menu {
  display: flex;
  padding: 0 0.75rem;
}
.navigation-menu > li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.navigation-menu > li > a {
  padding: 0 1rem;
}
.navigation-menu li:nth-child(4) {
  font-size: 0.95rem;
  color: var(--black);
  padding: 0.25rem;
  border-radius: 0.25vmax;
  border: 2px solid var(--black);
}
.navigation-menu li {
  margin: 0 0.5rem;
  padding: 0.25rem;
  border-radius: 0.25vmax;
  border: 2px solid var(--black);
}
.navigation-menu li:nth-child(4):hover,
.navigation-menu li:hover {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}
.hamburger-menu {
  display: none;
}
.menu {
  transition: 0.4s ease-in;
  font-size: 2rem;
  color: var(--black);
}
.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  margin-top: 4rem;
}
.first {
  width: min(500px, 100%, 100vw);
  padding: 1rem;
}

.second {
  width: fit-content;
}
.cta-paragraph {
  border: 2px solid var(--gray-white);
  border-radius: 0.7vmax;
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9375rem;
  width: fit-content;
  color: var(--dusty-gray);
}
.cta-paragraph > h3 {
  border-radius: 0.3vmax;
  padding: 0.25rem;
  font-weight: 500;
}
.cta-paragraph > h4 {
  padding: 0.25rem;
  font-weight: 500;
}

.first > h5 {
  font-size: clamp(1.9rem, 4vw, 2.5rem);
  line-height: 1.1;
  padding-top: 0.75rem;
}
.first > p {
  font-size: clamp(00.9375rem, 4vw, 0.8175rem);
  padding-top: 1rem;
  color: var(--dusty-gray);

  max-width: 52ch;
}
.cta-button {
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 0.8125rem;
  padding: 0.6rem 0.75rem;
  border-radius: 0.25vmax;
  border: 2px solid var(--primary-color);
  margin-top: 1rem;
}
.feature-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fafafa;
}
.features {
  padding: 1rem;
  text-align: center;
  width: calc(100% - 20%);
}
.features > h3 {
  color: var(--primary-color);
}
.features > h4 {
  font-size: clamp(1.25rem, 4vw, 2rem);
}
.features > h5 {
  font-size: 0.9375rem;
  font-weight: 400;
  color: var(--dusty-gray);
  padding-top: 0.25rem;
}
.featured {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  place-items: center;
  margin-top: 2rem;
  padding: 1rem;
  background-color: var(--white);
}
.featured-card-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
}
.card-paragraph {
  width: 300px;
  padding: 0 1rem;
}
.card-paragraph > h6 {
  font-size: 1rem;
}

.first-paragraph {
  color: var(--dusty-gray);
  padding: 0.5rem 0;
}
.featured-link {
  padding: 0.25rem 0;
  display: flex;
  color: var(--primary-color);
}
.icon-account {
  background-color: var(--gray-white);
  color: var(--gluon-gary);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0.25rem;
}

.get-started {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  margin-top: 2rem;
  background-color: rgba(250, 250, 250, 0.4);
}
.get-started > h3 {
  padding: 0.15rem 0;
}
.get-started > div > p {
  padding: 0.15rem 0;
}
.get-started > div > button {
  margin-top: 2rem;
}
.get-started > img {
  width: 400px;
}
.faq-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.faq-title {
  text-align: center;
}
.faq-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.accordion {
  width: 1000px;
  padding: 1rem 0.5rem;
}
details {
  padding: 0 1rem;
}
summary {
  font-weight: 700;
  position: relative;
  padding: 1rem 2rem 1rem 0;
}
summary::marker {
  content: "";
}

summary::before,
summary::after {
  width: 0.7rem;
  height: 0;
  position: absolute;
  right: 0;
}

details:not([open]) summary::before {
  content: "+";
}

details[open] > summary::after {
  content: "-";
}
details[open] summary {
  transition: all 0.3s ease-in;
}
details[open] > p {
  color: var(--gluon-gary);
}

.subscribe {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  place-items: center;
  margin-top: 2rem;
  padding: 1rem;
}
.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.subscribe-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.subscribe-logo > .logo {
  width: 45px;
}
.subscribe-logo > h3 {
  font-size: 1.5rem;
  padding: 0 0.5rem;
}

.navigation > ul {
  display: flex;
  justify-items: flex-start;
  flex-wrap: wrap;
}
.navigation > ul > li:nth-child(1) {
  padding-left: 0;
}
.navigation > ul > li {
  padding: 0.5rem 1rem;
}
.stay-updated {
  padding: 1rem 0;
}
.stay-updated > h4 {
  padding-bottom: 0.25rem;
}
.stay-updated > input {
  outline: none;
  border: 1px solid var(--black);
  padding: 0.5rem 0.75rem;
  border-radius: 0.25vmax;
}
.stay-updated > button {
  margin: 1rem;
  font-size: 0.95rem;
  color: var(--white);
  padding: 0.5rem 0.75rem;
  border-radius: 0.25vmax;
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
}
@media (max-width: 32em) {
  .layout {
    background-image: linear-gradient(
      to right,
      #fff 0%,
      #fff 50%,
      #fff 50%,
      #fff 100%
    );
  }
  .hero-container {
    display: grid;
    justify-content: flex-start;
    grid-template-columns: 1fr;
  }

  .hamburger-menu {
    display: block;
    cursor: pointer;
  }
  .navigation-menu.expanded {
    background-color: white;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    width: 100%;
    height: calc(100% -4rem);
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
  }
  .navigation-menu.expanded li {
    margin: 1rem 0;
  }
  .navigation-menu li {
    border-radius: 0.25vmax;
    border: 2px solid #fff;
  }
  .navigation-menu li:nth-child(4) {
    padding: 0.25rem;
    border-radius: 0.25vmax;
    border: 2px solid #fff;
  }

  .navigation-menu li:nth-child(4):hover,
  .navigation-menu li:hover {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    color: var(--white);
    transition: all 0.3s ease-in;
  }

  .featured {
    display: flex;
    flex-direction: column-reverse;
  }
  .featured-image > img {
  }

  .second > img {
  }
  .feat .get-started {
    display: flex;
    flex-direction: column;
  }
  .subscribe {
    display: flex;
    flex-wrap: wrap;
  }

  .accordion {
    width: 375px;
    padding: 0.5rem;
  }
}
@media (max-width: 50em) {
  .layout {
    background-image: linear-gradient(
      to right,
      #fff 0%,
      #fff 50%,
      #fff 50%,
      #fff 100%
    );
  }
  .hamburger-menu {
    display: block;
    position: relative;
  }
  .second > img {
    width: min(300px, 500px);
  }

  .hero-container {
    display: grid;
    justify-items: flex-start;
    grid-template-columns: 1fr;
  }
  .navigation-menu {
    display: none;
  }
  .navigation-menu.expanded {
    background-color: white;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    width: 100%;
    height: calc(100% -4rem);
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
  }
  .navigation-menu.expanded li {
    margin: 1rem 0;
  }
  .navigation-menu li {
    border-radius: 0.25vmax;
    border: 2px solid #fff;
  }
  .navigation-menu li:nth-child(4) {
    padding: 0.25rem;
    border-radius: 0.25vmax;
    border: 2px solid #fff;
  }

  .navigation-menu li:nth-child(4):hover,
  .navigation-menu li:hover {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    color: var(--white);
    transition: all 0.3s ease-in;
  }

  .featured {
    display: flex;
    flex-direction: column-reverse;
    justify-items: flex-start;
    place-items: flex-start;
  }

  .featured-image > img {
    max-width: 400px;
  }

  .first > p {
    max-width: 42ch;
  }

  .accordion {
    max-width: 700px;
    padding: 0.5rem;
  }
}
